/* [Font] */
@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: 300;
  src: url('../font/NotoSansKR-Light.ttf') format("opentype");
}
@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/NotoSansKR-Regular.ttf') format("opentype");
}
@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/NotoSansKR-Bold.ttf') format("opentype");
}
/* [Reset] */
html, body {
  font-size: 10px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}
html, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  -webkit-appearance: none;
}
body, button, input, select, table, textarea {
  font-family: 'Noto',-apple-system,helvetica,Apple SD Gothic Neo,sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -0.05rem;
}
body {
  position: relative;
  -webkit-text-size-adjust: none;
  color: #252E33;
}
body.popup_open {
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
fieldset, img {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
}
ol, ul {
  list-style: none;
}
address, em {
  font-style: normal;
}
input, textarea, select {
  outline: 0;
  border-radius: 0;
  border: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}
input[readonly] {
  -webkit-user-select: none;
  user-select: none;
}
textarea {
  resize: none;
}
legend {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  display: none;
}
mark {
  background: transparent;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.wrap_layer {
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 10rem;
  right: 10rem;
  bottom: 10rem;
  left: 10rem;
  z-index: 100;
}
.wrap_layer::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
}
.wrap_layer.show {
  visibility: visible;
  opacity: 1;
}
.wrap_layer .inner_layer {
  position: absolute;
  top: 6rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
.wrap_layer .content_layer img {
  display: block;
  margin: 0 auto;
}
.wrap_layer .head_layer {
  position: relative;
  min-height: 6rem;
  background-color: #fff;
  z-index: 102;
}
.wrap_layer .head_layer h2 {
  padding-left: 3rem;
  line-height: 6rem;
  font-weight: 700;
}
.wrap_layer .btn_ico_close {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 1.0rem;
  right: 1rem;
  font-size: 2.4rem;
  z-index: 102;
}